.expandable {
	position: relative;
	transition: max-height .6s;	
	padding-bottom: 50px; // to make room for bar	
		
	.expandable__bar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $white;
		border-top: 1px solid $primary;
		
		&:before {
			content: "";
			display: block;
			opacity: 1;
			height: 100px;
			top: -101px;
			left: 0;
			width: 100%;			
			position: absolute;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e0edee',GradientType=0 );
			transition: opacity .6s;
		}
	}
	
	.expandable__toggle {
		@include button-reset;
		display: inline-block;
		margin-top: .5em;
		color: #34A1AC;
		transition: color .3s, transform .3s;
		position: relative;
		
		&:after {
			content: "";
			position: absolute;
			right: -20px;
			top: 7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7px 0 7px;
			border-color: #34A1AC transparent transparent transparent;
			transition: color .3s, transform .3s;
			transform-origin: center center;
		}		
		
		&:hover {
			color: darken($primary, 10%);
			
			&:after {
				border-top-color: darken($primary, 10%);
			}
		}		
	}
}

// states

.expandable {
	
	&[data-state="closed"] {
		max-height: 200px;
		overflow: hidden;
		
		.expandable__toggle:after {
			transform: rotate(0deg);
		} 
	}
	
	&[data-state="open"] {
		max-height: 1000px;
		overflow: hidden;
		
		.expandable__bar:before {
			opacity: 0;
		}
		
		.expandable__toggle:after {
			transform: rotate(180deg);
		}	
	}	

}